# Model experimentation

In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("../data/processed/reservoir_cleaned_data.csv", parse_dates=["timestamp"])

# Timestamp column transformation
data['timestamp'] = pd.to_datetime(data['timestamp'], utc=True).dt.tz_convert('Europe/Madrid') 
  
data.head()

                  timestamp  generation_cleaned
0 2015-01-01 00:00:00+01:00              1899.0
1 2015-01-01 01:00:00+01:00              1658.0
2 2015-01-01 02:00:00+01:00              1371.0
3 2015-01-01 03:00:00+01:00               779.0
4 2015-01-01 04:00:00+01:00               720.0